<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Weather 2.0</a>


  <div class="btn-group" *ngIf="userLoggedIn">
      <div  class="btn bg-secondary navButton navButtonCursor text-white">
        {{username}}
      </div>
      <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split navButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>


    <div class="dropdown-menu dropdown-menu-right text-center">
      <a class="dropdown-item" routerLink="/settings">Settings</a>
      <div class="dropdown-divider"></div>
      <button type="button" class="btn btn-danger navButton">
        <a class="dropdown-item text-white" (click)="logout()">Logout</a>
      </button>
    </div>
  </div>

</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
