<div class="text-center mt-5 mb-5">
  <p class="display-4"> {{ weather['current']['condition']['text'] }} </p>

</div>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="col d-flex align-items-center">

          <img src={{weather.current.condition.icon}} class="mx-auto">


      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="row mb-1">
    <p class="mx-auto place">{{ weather['location']['name'] }}</p>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <h2 class="display-2 text-center"> {{ weather['current']['temp_c'] }}<sup>°C</sup></h2>
    </div>

    <div class="col"></div>
  </div>
  <div class="row ">
    <div class="col text-center">
      <p class="day"> {{ this.today }} </p>
    </div>
  </div>
</div>

<div class="card mt-4 mx-auto p-4" id="forecast">
  <div class="row ">
    <div class="col d-flex align-items-center">
      {{ todayPlusOne }}
    </div>
    <div class="col"></div>
    <div class="col d-flex align-items-center ">
      {{ weather['forecast']['forecastday'][0]['day']['avgtemp_c'] }} <sup>°C</sup>
    </div>
    <div class="col">
      <img src= "{{weather['forecast']['forecastday'][0]['day']['condition']['icon']}}">
    </div>
  </div>
  <div class="row ">
    <div class="col d-flex align-items-center">
      {{ todayPlusTwo }}
    </div>
    <div class="col"></div>
    <div class="col d-flex align-items-center">
      {{ weather['forecast']['forecastday'][1]['day']['avgtemp_c'] }} <sup>°C</sup>
    </div>
    <div class="col">
      <img src= "{{weather['forecast']['forecastday'][0]['day']['condition']['icon']}}">
    </div>
  </div>
  <div class="row ">
    <div class="col d-flex align-items-center">
      {{ todayPlusThree }}
    </div>
    <div class="col"></div>
    <div class="col d-flex align-items-center">
      {{ weather['forecast']['forecastday'][1]['day']['avgtemp_c'] }} <sup>°C</sup>
    </div>
    <div class="col">
      <img src= "{{weather['forecast']['forecastday'][1]['day']['condition']['icon']}}">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col"></div>
    <div class="col text-center"><a routerLink="/details">Details</a></div>
    <div class="col"></div>
  </div>
</div>
