<div *ngIf="!firstTimeUser">
  <div class="text-center">
    <p class="display-4 mb-0"> {{ currentConditionText }} </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="col d-flex align-items-center">
          <img src="{{ currentConditionIcon }}" class="mx-auto">
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row mb-1">
      <p class="mx-auto mb-0 place">{{ location }}</p>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h2 class="display-3 text-center"> {{ currentTemp }}<sup>°C</sup></h2>
      </div>
      <div class="col"></div>
    </div>
    <div class="row ">
      <div class="col text-center">
        <p class="day mb-0"> {{ this.today }} </p>
      </div>
    </div>
  </div>
  <div class="">
    <div class="row text-center">
      <div class="col">{{ todayPlusOne }}</div>
      <div class="col">{{ todayPlusTwo }}</div>
      <div class="col">{{ todayPlusThree }}</div>
    </div>
    <div class="row text-center">
      <div class="col icon">
        <img src="{{ forecastDay0Icon }}">
      </div>
      <div class="col icon">
        <img src="{{ forecastDay0Icon }}">
      </div>
      <div class="col icon">
        <img src="{{ forecastDay0Icon }}">
      </div>
    </div>
    <div class="row text-center">
      <div class="col ">{{ forecastDay0 }} <sup>°C</sup></div>
      <div class="col ">{{ forecastDay1 }} <sup>°C</sup></div>
      <div class="col ">{{ forecastDay2 }} <sup>°C</sup></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col text-center"><a routerLink="/details">Details</a></div>
      <div class="col"></div>
    </div>
  </div>
</div>
<div *ngIf="firstTimeUser">
  <div class="row mx-auto welcome">
    <div class="col-md-6 mx-auto pt-5">
      <div class="text-center">
        <h1 class="display-3 font-weight-lighter">Weather 2.0</h1>
        <h2 class="text-center mt-5 font-weight-light">
          Welcome!
        </h2>
        <p class="d-inline">Click on </p><img src="../../assets/img/menu.gif"> <p class="d-inline">for Settings to choose your location</p>
      </div>
    </div>
  </div>
</div>
